Source: liblc3-replay
Section: devel
Priority: optional
Maintainer: Brandon Whitehead <tricksterguy87@gmail.com>
Build-Depends: cmake, debhelper (>=11~), liblc3-dev, libboost-serialization-dev, libboost-iostreams-dev
Standards-Version: 4.1.4
Homepage: https://github.com/complx-tools/liblc3-replay
Vcs-Git: https://github.com/complx-tools/liblc3-replay.git

Package: liblc3-replay
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Replay string operations for liblc3. Replay strings are given from failures in pylc3.autograder.
These strings copy the environment from a pylc3 test to replay the test in a more controlled environment for
debugging.
